<h1>Edite os dados do professor</h1>

<% form_for [@subscription,@reference_teacher] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :instituição %><br />
    <%= f.text_field :instituicao %>
  </p>
  <p>
    <%= f.label "e-mail" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "idioma" %><br />
    <%= f.select(:lingua, %w[Português Inglês]) %>
  </p>

  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>