<h1>Recomendações</h1>
<p>
Campos obrigatórios estão demarcados por <span style="color:red">*</span>
</p>
Insira os dados do seu recomendante:
<% form_for [@subscription,@reference_teacher] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :instituição %><br />
    <%= f.text_field :instituicao %>
  </p>
  <p>
    <%= f.label "e-mail" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "idioma" %><br />
    <%= f.select(:lingua, %w[Português Inglês]) %>
  </p>

  <p>
    <%= f.submit 'Adicionar professor' %>
  </p>
<% end %>

