<p>
  <b>Nome:</b>
  <%=h @reference_teacher.nome %>
</p>

<p>
  <b>Instituicao:</b>
  <%=h @reference_teacher.instituicao %>
</p>

<p>
  <b>Email:</b>
  <%=h @reference_teacher.email %>
</p>

<%= link_to 'Edit', edit_subscription_reference_teacher_path(@subscription,@reference_teacher) %> |
<%= link_to 'Back', subscription_reference_teacher_path %>