<p>
  <b>Nome:</b>
  <%=h @reference_teacher.nome %>
</p>

<p>
  <b>Instituicao:</b>
  <%=h @reference_teacher.instituicao %>
</p>

<p>
  <b>Email:</b>
  <%=h @reference_teacher.email %>
</p>

<p>
  <b>Subscription:</b>
  <%=h @reference_teacher.subscription %>
</p>


<%= link_to 'Edit', edit_reference_teacher_path(@reference_teacher) %> |
<%= link_to 'Back', reference_teachers_path %>