<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome_completo %><br />
    <%= f.text_field :nome_completo %>
  </p>
  <p>
    <%= f.label :data_de_nascimento %><br />
    <%= f.date_select :data_de_nascimento %>
  </p>
  <p>
    <%= f.label :estado_civil %><br />
    <%= f.text_field :estado_civil %>
  </p>
  <p>
    <%= f.label :identidade %><br />
    <%= f.text_field :identidade %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </p>
  <p>
    <%= f.label :nacionalidade %><br />
    <%= f.text_field :nacionalidade %>
  </p>
  <p>
    <%= f.label :logradouro_permanente %><br />
    <%= f.text_field :logradouro_permanente %>
  </p>
  <p>
    <%= f.label :numero_permanente %><br />
    <%= f.text_field :numero_permanente %>
  </p>
  <p>
    <%= f.label :cidade_permanente %><br />
    <%= f.text_field :cidade_permanente %>
  </p>
  <p>
    <%= f.label :estado_permanente %><br />
    <%= f.text_field :estado_permanente %>
  </p>
  <p>
    <%= f.label :pais_permanente %><br />
    <%= f.text_field :pais_permanente %>
  </p>
  <p>
    <%= f.label :cep_permanente %><br />
    <%= f.text_field :cep_permanente %>
  </p>
  <p>
    <%= f.label :telefone_permanente %><br />
    <%= f.text_field :telefone_permanente %>
  </p>
  <p>
    <%= f.label :logradouro_correspondencia %><br />
    <%= f.text_field :logradouro_correspondencia %>
  </p>
  <p>
    <%= f.label :numero_correspondencia %><br />
    <%= f.text_field :numero_correspondencia %>
  </p>
  <p>
    <%= f.label :cidade_correspondencia %><br />
    <%= f.text_field :cidade_correspondencia %>
  </p>
  <p>
    <%= f.label :estado_correspondencia %><br />
    <%= f.text_field :estado_correspondencia %>
  </p>
  <p>
    <%= f.label :pais_correspondencia %><br />
    <%= f.text_field :pais_correspondencia %>
  </p>
  <p>
    <%= f.label :cep_correspondencia %><br />
    <%= f.text_field :cep_correspondencia %>
  </p>
  <p>
    <%= f.label :telefone_correspondencia %><br />
    <%= f.text_field :telefone_correspondencia %>
  </p>
  <p>
    <%= f.label :celular_correspondencia %><br />
    <%= f.text_field :celular_correspondencia %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :formacao_superior_graduacao %><br />
    <%= f.text_area :formacao_superior_graduacao %>
  </p>
  <p>
    <%= f.label :formacao_superior_pos %><br />
    <%= f.text_area :formacao_superior_pos %>
  </p>
  <p>
    <%= f.label :outras_academicas %><br />
    <%= f.text_area :outras_academicas %>
  </p>
  <p>
    <%= f.label :empregos_passados %><br />
    <%= f.text_area :empregos_passados %>
  </p>
  <p>
    <%= f.label :empregos_atuais %><br />
    <%= f.text_area :empregos_atuais %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>