<h3>Lista de usuários</h3>

<table border="0">
  <tr>
    <th>Nome completo </th>
    <th>Email</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%=h user.nome_completo %> </td>
    <td>| <%=h user.email %></td>
    <td>| <%= link_to 'Ver', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Remover', user, :confirm => 'Tem certeza que deseja remover o usuário '+user.nome_completo+'?' , :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar novo usuário', new_user_path %>

