<p>
  <b>Nome completo:</b>
  <%=h @user.nome_completo %>
</p>

<p>
  <b>Data de nascimento:</b>
  <%=h @user.data_de_nascimento %>
</p>

<p>
  <b>Estado civil:</b>
  <%=h @user.estado_civil %>
</p>

<p>
  <b>Identidade:</b>
  <%=h @user.identidade %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @user.tipo %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @user.cpf %>
</p>

<p>
  <b>Nacionalidade:</b>
  <%=h @user.nacionalidade %>
</p>

<p>
  <b>Logradouro permanente:</b>
  <%=h @user.logradouro_permanente %>
</p>

<p>
  <b>Numero permanente:</b>
  <%=h @user.numero_permanente %>
</p>

<p>
  <b>Cidade permanente:</b>
  <%=h @user.cidade_permanente %>
</p>

<p>
  <b>Estado permanente:</b>
  <%=h @user.estado_permanente %>
</p>

<p>
  <b>Pais permanente:</b>
  <%=h @user.pais_permanente %>
</p>

<p>
  <b>Cep permanente:</b>
  <%=h @user.cep_permanente %>
</p>

<p>
  <b>Telefone permanente:</b>
  <%=h @user.telefone_permanente %>
</p>

<p>
  <b>Logradouro correspondencia:</b>
  <%=h @user.logradouro_correspondencia %>
</p>

<p>
  <b>Numero correspondencia:</b>
  <%=h @user.numero_correspondencia %>
</p>

<p>
  <b>Cidade correspondencia:</b>
  <%=h @user.cidade_correspondencia %>
</p>

<p>
  <b>Estado correspondencia:</b>
  <%=h @user.estado_correspondencia %>
</p>

<p>
  <b>Pais correspondencia:</b>
  <%=h @user.pais_correspondencia %>
</p>

<p>
  <b>Cep correspondencia:</b>
  <%=h @user.cep_correspondencia %>
</p>

<p>
  <b>Telefone correspondencia:</b>
  <%=h @user.telefone_correspondencia %>
</p>

<p>
  <b>Celular correspondencia:</b>
  <%=h @user.celular_correspondencia %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Formacao superior graduacao:</b>
  <%=h @user.formacao_superior_graduacao %>
</p>

<p>
  <b>Formacao superior pos:</b>
  <%=h @user.formacao_superior_pos %>
</p>

<p>
  <b>Outras academicas:</b>
  <%=h @user.outras_academicas %>
</p>

<p>
  <b>Empregos passados:</b>
  <%=h @user.empregos_passados %>
</p>

<p>
  <b>Empregos atuais:</b>
  <%=h @user.empregos_atuais %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>