<h1>Suas inscrições:</h1>
<%= link_to 'Nova inscrição', new_subscription_path %> <br/><br/>
<table id="subscriptions">
  <tr>
    <th>Última Modificação</th>
    <th>Nível</th>
    <th>Curso</th>
    <th colspan="4">Opções</th>
  </tr>
  <%
  @i = 0
  @subscriptions.each do |subscription| %>

    <tr>
      <td><%=h subscription.updated_at.strftime("%d/%m/%Y") %></td>
      <td><%=h @courses[@i].nivel %></td>
      <td><%=h @courses[@i].area %></td>


      <td><%= link_to 'Mostrar', user_subscription_path(@user,subscription) %></td>
      <td><%= link_to 'Editar', edit_user_subscription_path(@user,subscription) %></td>
      <td><%= link_to 'Editar professores', subscription_reference_teachers_path(subscription) %></td>
      <td><%= link_to 'Deletar', user_subscription_path(@user,subscription), :confirm => 'Tem certeza?', :method => :delete %></td>
    </tr>
    <%   @i+=1

  end
%>

</table>



