<p>
  <b>Inicio pretendido:</b>
  <%=h @subscription.inicio_pretendido %>
</p>

<p>
  <b>Outros programas:</b>
  <%=h @subscription.outros_programas %>
</p>

<p>
  <b>Orientador:</b>
  <%=h @subscription.orientador %>
</p>

<p>
  <b>Bolsa fomento:</b>
  <%=h @subscription.bolsa_fomento %>
</p>

<p>
  <b>Bolsa ime:</b>
  <%=h @subscription.bolsa_ime %>
</p>

<p>
  <b>Bolsas anteriores:</b>
  <%=h @subscription.bolsas_anteriores %>
</p>

<p>
  <b>Dados carta recomendacao:</b>
  <%=h @subscription.dados_carta_recomendacao %>
</p>

<p>
  <b>Trabalhar se aceito:</b>
  <%=h @subscription.trabalhar_se_aceito %>
</p>

<p>
  <b>Resumo dissertacao mestrado:</b>
  <%=h @subscription.resumo_dissertacao_mestrado %>
</p>

<p>
  <b>Propositos:</b>
  <%=h @subscription.propositos %>
</p>

<p>
  <b>Observacoes:</b>
  <%=h @subscription.observacoes %>
</p>

<p>
  <b>Curso:</b>
  <%=h @subscription.curso_id %>
</p>

<p>
  <b>User:</b>
  <%=h @subscription.user %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>