<h3>Curso de <%=h @course.nivel %> em <%=h @course.area %></h3>
<br/>
<table>
  <tr>
    <td><b>Área:</b></td>
    <td><%=h @course.subarea %></td>
  </tr>
    <tr>
    <td><b>Inicio pretendido:</b></td>
    <td><%=h @subscription.inicio_pretendido %></td>
  </tr>
    <tr>
    <td><b>Outros programas:</b></td>
    <td><%=h @subscription.outros_programas %></td>
  </tr>
    <tr>
    <td><b>Orientador:</b></td>
    <td><%=h @subscription.orientador %></td>
  </tr>
</table>
<br/>
<h3>Bolsa</h3>
<table>
  <tr>
    <td><b>Fomento:</b></td>
    <td><%=h @subscription.bolsa_fomento %></td>
  </tr>
    <tr>
    <td><b>IME:</b></td>
    <td><%=h @subscription.bolsa_ime %></td>
  </tr>
    <tr>
    <td><b>Anteriores:</b></td>
    <td><%=h @subscription.bolsas_anteriores %></td>
  </tr>
</table>
<br/>
<h3>Recomendações</h3>
<ul>
  <%  @teachers.each do |teacher| %>
    <li><%= teacher.nome + ", " + teacher.instituicao + ", " + teacher.email %></li>
  <% end %>
</ul>
<br/>
<h3>Trabalhar se aceito</h3>
  <%=h @subscription.trabalhar_se_aceito %>
<br/>
<h3>Resumo dissertacao mestrado</h3>
  <%=h @subscription.resumo_dissertacao_mestrado %>
<br/>
<h3>Propósitos</h3>
  <%=h @subscription.propositos %>
<br/>
<h3>Observações</h3>
  <%=h @subscription.observacoes %>
<br/>

<%= link_to 'Minhas inscrições', user_subscriptions_path(@user) %> |
<%= link_to 'Editar', edit_user_subscription_path(@user,@subscription) %>
