<h1>Autenticação</h1>

<% form_for(@user_session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "E-mail" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label "Senha" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Entrar' %>
  </p>
<% end %>

